body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
}

.side_bar {
    position: fixed;
    background: no-repeat url(images/nicolas-barbault-d2dHebog4Ko-unsplash.jpg);
    min-height: 100%;
    width: 460px;
    color: white;
    font-size: 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    align-self: center;
}

.sign_up {
    width: 100px;
    margin-left: 500px;
}