@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Slackey&display=swap');

body {
    height: 100%;
    margin: 0;
    font-family: 'Slackey';
}

.container {
}

.side_bar {
    position: fixed;
    background: no-repeat url(images/nicolas-barbault-d2dHebog4Ko-unsplash.jpg);
    min-height: 100%;
    width: 460px;
    color: white;
    font-size: 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    align-self: center;
    width: 460px;
    height: 100px;
    text-align: center;
    background-color: rgb(110, 106, 106, 0.3);
}

.sign_up {
    width: 540px;
    margin-left: 460px;
    display: flex;
    flex-direction: column;
}
.top {
    height: 300px;
    width: 5000px;
    background-color: rgb(237, 235, 235);
}
.bottom {
    height: 300px;
    width: 5000px;
    background-color: rgb(237, 235, 235);;
    margin-bottom: 100px;
    bottom: 0;
}

button {
    margin-top: 10px;
    background-color: rgb(61, 111, 47);
    width: 125px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    border: 0;
}

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
    width: 100%;
}

.col {
    flex: 1;
}

.item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    
}

label {
    font-size: 12px;
}

h2, form, button {
    margin-left: 20px;
}

#pw:invalid:focus {
    border-color: red;
}
input:focus {
    border-color: blue;
    box-shadow: 0px 6px rgb(169, 168, 168);
}
